fastapi
uvicorn
langchain
langchain-groq
langchain-community
langchain-core
chromadb
sentence-transformers
pandas
matplotlib
streamlit
duckduckgo-search
pypdf
python-multipart
pydantic
requests
sqlalchemy
pydantic-settings
aiosqlite
langchain-huggingface
torch>=2.4.0
torchvision
